@model Blog.Models.Article

@{
    ViewBag.Title = "Details About Article";
}

<div class="article2">
    <h3> @Html.DisplayNameFor(model => model.Title) </h3>
    <p> @Html.DisplayFor(model => model.Title) </p>
    
    <h3> @Html.DisplayNameFor(model => model.CreationDate) </h3>
    <p> @Html.DisplayFor(model => model.CreationDate) </p>

    <h3> @Html.DisplayNameFor(model => model.Body) </h3>
    <div>@Html.Raw(HttpUtility.HtmlDecode(Model.Body))</div>

    <h3> @Html.DisplayNameFor(model => model.author) </h3>
    <p> @Html.DisplayFor(model => model.author) </p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) ||
    @Html.ActionLink("Back to List", "Index")
</p>
